<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app">
        姓名：<input type="text" v-model="name" placeholder="请输入姓名">
        <br/>
        年龄：<input type="text" v-model="age" placeholder="请输入年龄">
        <br/>
        <button @click="add">添加</button>
        <p>{{userArr}}</p>
    </div>
</body>
</html>
<script>
    new Vue({
        el:"#app",
        data:{
            userArr:["rous","20"],
            name:"",
            age:""
        },
        methods:{
            add:function(){
                this.userArr.push(this.name,this.age)
            }
        }
    })


</script>