<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="vDate">
        <button @click="add">Add</button>
        <p v-html="ins" v-for="(ins,index) in ingre"></p>
        
    </div>
</body>
</html>
<script>
    new Vue({
        el:"#app",
        data:{
            vDate:"",
            ingre:["meat","fruit","cookies"]
        },
        methods:{
            add:function(){
                this.ingre.push(this.vDate);
                this.vDate ="";
            }
        }
    })


</script>